<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd">

<!-- Cargar valores desde el archivo properties -->
<context:property-placeholder location="classpath:datosEmpleados.properties"/>

<!-- Creación de la dependencia que será inyectada -->
<bean id="miInforme" class="es.practicas.IoC.Informe"/>

<!-- Definición del bean para creación del objeto que va a ser inyectado mediante constructor -->
<bean id="miEmpleado" class="es.practicas.IoC.JefeEmpleado">    
    <constructor-arg ref="miInforme"/> <!-- Inyección de dependencia mediante constructor -->
</bean>

<!-- Definición del bean para creación del objeto que va a ser inyectado mediante set -->
<bean id="miSecretarioEmpleado" class="es.practicas.IoC.SecretarioEmpleado">
    <property name="informeNuevo" ref="miInforme"/> <!-- Inyección mediante setter -->
    <property name="email" value="${email}"/> <!-- Inyección de atributo predefinido -->
    <property name="nombreEmpresa" value="${nombreEmpresa}"/> <!-- Inyección de atributo predefinido -->
</bean>

</beans>
